{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; padding-top: 100px;">
    <h1 class="title">LEUK∞VISION</h1>
    <p class="subtitle">AD-LLD: Automated Diagnosis of Acute Lymphoblastic Leukemia Using Deep Learning Techniques</p>
   <!-- <button class="btn btn-danger btn-lg mt-4" onclick="window.location.href='/detect_page'">Start Detection</button> -->
</div>

<!-- About Section -->
<div id="about" style="padding:40px; text-align:center; background:black; color:white; margin-top:100vh;">
    <h2>About Leuk∞Vision</h2>
    <p>
        Leuk∞Vision is an AI-powered medical tool designed for early leukemia detection.
        Using deep learning models like ViT, MobileNet, and VGG, it classifies blood cell images
        with high precision, helping researchers and medical professionals detect Acute Lymphoblastic
        Leukemia (ALL) faster and more accurately.
    </p>
</div>
{% endblock %}
